[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
ingress = {editable = true, path = "."}
carmen = "*"
arrow = "*"
elasticsearch-dsl = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
