[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
ingress = {editable = true, path = "."}
carmen = "*"
arrow = "*"
elasticsearch-dsl = "*"
better-exceptions = "*"
textblob = "*"
tenacity = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipython = "*"
ipdb = "*"
"flake8" = "*"
pytest-coverage = "*"

[requires]
python_version = "3.6"
